@using Webshop2.Models;
@model List<Product>
@{
    ViewBag.Title = "Index";
}

<h1>@ViewBag.H1</h1>
<table>
<thead class="h4">
        <th>Artikel</th>
        <th>Verzending</th>
        <th>Prijs</th>
        <th>Aantal</th>
</thead>
    @{if (Session["Sessionexists"] != null)
    {
        foreach (Product prod in Model)
        {
        
    <tr>    
        <td><a href="~/Store/ProductDetail?productID=@prod.productID">@prod.productNaam - @prod.productKleur - @prod.productMaat.</a></td>
        <td>Gratis</td>
        <td>@prod.productPrijs</td>
<<<<<<< HEAD
<<<<<<< HEAD
        <td><form action="~/Cart/updateProductAantalGebruikerInDB" method="get">
    <input type="number" name="aantal" min="0" max="300" step="1" value="@prod.productAantal" />
    <input type="hidden" name="productID" value="@prod.productID" />
    <input type="hidden" name="kleur" value="@prod.productKleur" />
    <input type="hidden" name="maat" value="@prod.productMaat" />
    <input type="submit" value="Bevestig" />
</form>
=======
=======
>>>>>>> parent of 2c77894... aantal aanpassen in winkelmandje bij sessie
        <td><form action="updateProductAantal" method="post">
                <input type="number" onmouseout="updateProductAantal()" name="aantalBox" min="0" max="100" step="1" value="@prod.productAantal"  />
           </form>
           
<<<<<<< HEAD
>>>>>>> parent of 2c77894... aantal aanpassen in winkelmandje bij sessie
=======
>>>>>>> parent of 2c77894... aantal aanpassen in winkelmandje bij sessie
        </td>
        </tr>
      }
      }}

</table>
<h4>Subtotaal: € @ViewBag.prijs</h4>
@{if(@ViewBag.loggedin != true)
    { 
    <br /><b>Om te kunnen bestellen moet u een account hebben en ingelogd zijn.</b>
    }
    if(@ViewBag.loggedin == true)
    {
        <br />        <form action="~/cart/toegevoegd">
            <input type="submit" value="bestel">
        </form>
    }
}
<br />Klik <a href="/account" id="pLink">hier</a> om in te loggen of een account te creeëren.
