@using Webshop2.Models;
@model List<Product>
@{
    ViewBag.Title = "Index";
}

<h1>@ViewBag.H1</h1>
<table>
<thead class="h4">
        <th>Artikel</th>
        <th>Verzending</th>
        <th>Prijs</th>
        <th>Aantal</th>
</thead>
    @{if (Session["Sessionexists"] !=null)
      { 
        foreach (Product prod in Model)
    {
    <tr>    
        <td>@prod.productNaam</td>
        <td>Gratis</td>
        <td>@prod.productPrijs</td>
        <td><form action="~/Views/Cart/Index.cshtml">
        <input type="number" name="points"
           min="0" max="100" step="1" value="@prod.productAantal">
        </form></td>
        </tr>
      }
      }}

</table>
<h4>Subtotaal: € @ViewBag.prijs</h4>
@{if(@ViewBag.loggedin != true)
    { 
    <br /><b>Om te kunnen bestellen moet u een account hebben en ingelogd zijn.</b>
    }
    if(@ViewBag.loggedin == true)
    {
        <br /><input type="submit" value="bestel">
    }
}
<br />Klik <a href="/account" id="pLink">hier</a> om in te loggen of een account te creeëren.
