@using Webshop2.Models;
@model List<Product>
@{
    ViewBag.Title = "Index";
}

<h1>@ViewBag.H1</h1>
<table>
<thead class="h4">
        <th>Artikel</th>
        <th>Verzending</th>
        <th>Prijs</th>
        <th>Aantal</th>
</thead>
    @{if (Session["Sessionexists"] != null)
    {
        foreach (Product prod in Model)
        {
        
    <tr>    
        <td><a href="~/Store/ProductDetail?productID=@prod.productID">@prod.productNaam</a></td>
        <td>Gratis</td>
        <td>@prod.productPrijs</td>
        <td>
            <form action="~/Cart/updateProductAantal" method="get">
                <input type="number" name="aantal" min="0" max="100" step="1" value="@prod.productAantal" />
                <input type="hidden" name="kleur" value="@prod.productKleur" />
                <input type="hidden" name="maat" value="@prod.productMaat" />
                <input type="hidden" name="productID" value="@prod.productID" />
                <input type="submit" value="bevestig aantal" />
            </form>

        <td>
            <form action="~/Cart/deleteProduct" method="get">
                <input type="hidden" name="kleur" value="@prod.productKleur" />
                <input type="hidden" name="maat" value="@prod.productMaat" />
                <input type="hidden" name="productID" value="@prod.productID" />
                <input type="submit" value="verwijder" /> 

            </form>

        </td>
        </tr>
      }
      }}

</table>
<h4>Subtotaal: € @ViewBag.prijs</h4>
@{
    if(@ViewBag.goldcustomer == true)
    {
        <b>U bent Gold Customer en ontvangt 4% korting op al uw bestellingen!</b>
    }
}


        <br />        
            <form action="checkout/index/" method="get">
            <input type="hidden" name="orderid" value="@ViewBag.bestelID"/>
            <input type="submit" value="bestel"><b> (Werkt alleen als u ingelogt bent)</b>
                <br />Klik <a href="~/cart/nieuweBestelling" id="pLink">hier</a> om een nieuwe bestelling te maken.</b>
             
        </form>

    <br /><b>Klik <a href="/account" id="pLink">hier</a> om in te loggen of een account te creeëren.</b>
