@using Webshop2.Models
@model List<Product>

@{
    ViewBag.Title = "Productoverzicht.";
}

<h1>@ViewBag.H1</h1>

<div>
    <p>
        <table>
            <tr>Bestverkochte producten per aantal verkocht:</tr>
            
            @foreach (Product p in Model)
            {
                <tr>
                    <td><b>Product:</b> @p.productNaam <b>Merk:</b> @p.productMerk <br />
                    <b>Maat:</b> @p.uitvoeringMaat    <b>Kleur:</b> @p.uitvoeringKleur</td>
                    <td><b>Aantal op voorraad:</b> @p.uitvoeringVoorraad <b>Aantal verkocht:</b> @p.productAantal</td>
                </tr>
            }
                
        </table>

    </p>
</div>