@using Webshop2.Models
@model AccountModel

@{
    ViewBag.Title = "Profielpagina.";
}

<h1>@ViewBag.H1</h1>

<div>
    <p>Welkom, @Model.Gebruikersnaam @Model.Naam. </p>

    Uw gegevens:
    <table>
        <tr><td>Voornaam:</td><td>@Model.Gebruikersnaam</td></tr>
        <tr><td>Achternaam:</td><td>@Model.Naam</td></tr>
        <tr><td>Adres:</td><td>@Model.Woonadres</td></tr>
        <tr><td>Postcode:</td><td>@Model.Woonpostcode</td></tr>
        <tr><td>Woonplaats:</td><td>@Model.Woonplaats</td></tr>
        <tr><td>E-mail:</td><td>@Model.Email</td></tr>
        <tr><td>Telefoonnummer:</td><td>@Model.Telefoonnummer</td></tr>
    </table>
    

    <br />Klik <a href="~/account/betaaldeProducten" id="pLink">hier</a> om uw betaalde producten in te zien.</b>

   


</div>
