@using Webshop2.Models
@model List<Product>

@{
    ViewBag.Title = "Product Detail";
}

<h1>@ViewBag.H1</h1>


            <img src="~/images/PlaceHolderImages/Small Pics/carracer.png" alt="Artikel met ID 1" height="500" width="500"><br/>
            <B> Naam: </B>@ViewBag.productNaam <br />
            <B> Prijs: </B>@ViewBag.productPrijs <br />
            <B> Merk: </B>@ViewBag.productMerk <br/>
            <B> Omschrijving: </B>@ViewBag.productDetail <br />



            <form action="~/Cart/toegevoegd" method="get">
                <input type="hidden" name="productID" value="@ViewBag.productID" />
                <select>

    @{foreach (Product prod in Model)
    {
    <option value="@prod.uitvoeringKleur @prod.productMaat">@prod.uitvoeringKleur @prod.productMaat</option> }




                <input type="number" name="aantal" value="1"/>
                <input type="submit" value="Toevoegen aan Winkelmandje" />
                    
    

}