@using Webshop2.Models
@model List<Product>

@{
    ViewBag.Title = "Product Detail";
}

<h1>@ViewBag.H1</h1>

@{foreach (Product produ in Model)
{
    string afbeelding = produ.productID + ".png";

    <img src="~/images/PlaceHolderImages/SmallPics/@afbeelding" alt="AFBEELDING" height="500" width="500" /><br />
    <b> Naam: </b>@produ.productNaam <br />
    <b> Prijs: </b>@produ.productPrijs <br />
    <b> Merk: </b>@produ.productMerk <br />
    <b> Omschrijving: </b>@produ.productDetail <br />
}}




@{foreach (Product prod in Model)
{
    <form action="~/Cart/toegevoegd" method="get">
        <select>
            <option value="@prod.uitvoeringKleur @prod.productMaat">@prod.uitvoeringKleur @prod.productMaat</option>
            <input type="hidden" name="productID" value="@prod.productID" />

            <input type="number" name="aantal" value="1" />
            <input type="submit" value="Toevoegen aan Winkelmandje" />
        </select>
    </form>



}}
