@using Webshop2.Models
@model Product


@{
    ViewBag.Title = "create";
}

<h1>@ViewBag.H1</h1>


<div id='createform'>

    <form name="productToevoegen" method="post" action="/Store/ProductToegevoegd" enctype="multipart/form-data">

        <table>
            <tr>
                <td>
                    <label>Product Naam :</label>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.productNaam)
                </td>
                <td id="validationerror">
                    @Html.ValidationMessageFor(model => model.productNaam)
                </td>
            </tr>
            <tr>
                <td>
                    <label>Product merk :</label>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.productMerk)
                    @Html.ValidationMessageFor(model => model.productMerk)
                </td>
            </tr>
            <tr>
                <td>
                    <label>Product categorie :</label>
                </td>
                <td>

                    <select name="categorieID">
                        @foreach (Categorie cat in @ViewBag.categorieen)
                        {
                            <option value="@cat.categorieID">@cat.categorieNaam </option>

                        }
                    </select>


                </td>
                <td id="validationerror">
                    @Html.ValidationMessageFor(model => model.categorieNaam)
                </td>
            </tr>
            <tr>
                <td>
                    <label>Geslacht</label>
                </td>
                <td>
                    <select name="productGeslacht">
                        <option value="m">Man</option>
                        <option value="v">Vrouw</option>
                        <option value="u">Unisex</option>
                    </select>
                </td>


            </tr>
            <tr>

                <td>
                    <label>Product Prijs :</label>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.productPrijs)
                </td>
                <td id="validationerror">
                    @Html.ValidationMessageFor(model => model.productPrijs)
                </td>
            </tr>
            <tr>

                <td>
                    <label>Product Details :</label>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.productDetail)
                </td>
                <td id="validationerror">
                    @Html.ValidationMessageFor(model => model.productDetail)
                </td>
            </tr>
            <tr>
                <td>
                    <label for="file">Upload Image:</label>
                </td>
                <td>
                    @using (Html.BeginForm("ProductToegevoegd", "Store", FormMethod.Post,
                                new { enctype = "multipart/form-data" }))
                    {
                        @*<label for="file">Upload Image:</label>*@
                        <input type="file" name="file" id="file" style="width: 100%;" />
                        @*<input type="submit" value="Upload" class="submit" />*@
                    }

                </td>
            </tr>
            <tr>
                <td>
                    <label>Product Voorraad :</label>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.uitvoeringVoorraad)
                </td>
            </tr>
            <tr>
                <td>
                    <label>Product Maat :</label>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.productMaat)
                </td>
            </tr>
            <tr>
                <td>
                    <label>Product Kleur :</label>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.productKleur)
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Toevoegen">
                </td>
            </tr>
        </table>

    </form>
</div>