@using Webshop2.Models
@model List<Product>


@{
    ViewBag.Title = "Product Detail";
}

<h1>@ViewBag.H1</h1>
@{
    <img src="~/ProductImages/@ViewBag.productAfbeelding" alt="AFBEELDING" height="00" width="500" /><br /><br />
}
    <b> Naam: </b>@ViewBag.productNaam <br />
    <b> Prijs: </b>@ViewBag.productPrijs <br />
    <b> Merk: </b>@ViewBag.productMerk <br />
    <b> Omschrijving: </b>@ViewBag.productDetail <br /> 





    <form action="~/Cart/toegevoegd" method="get">
        <select name="kleur">
            @{foreach (Product prod in Model)
            {

                <option value="@prod.productKleur, @prod.productMaat">@prod.productKleur , @prod.productMaat</option>

            }
            }
        </select>
                @{foreach (Product prod in Model)
{
                    <input type="hidden" name="productID" value="@prod.productID" />
                    
                    
}}
        <input type="number" name="aantal" value="1" /> 
        <input type="submit" value="Toevoegen aan Winkelmandje" />
     </form>
