@using Webshop2.Models;
@model List<Product>
@{
    ViewBag.Title = "ProductWijzigen";
}

<h1>@ViewBag.H1</h1>

<<<<<<< HEAD
<table>
    <thead class="h4">
    <td>Prijs</td>
    <td>Naam</td>
    <td>Merk</td>
    <td></td>
    </thead>
    

    @{
        foreach (Product prod in Model)
        {
            <tr>
                <td>€@prod.productPrijs</td>
                <td>@prod.productNaam</td>
                <td>@prod.productMerk</td>
                <td><a href="~/Store/wijzigenProduct?prodID=@prod.productID">Wijzigen</a></td>
            </tr>


        }

        <tr>
            <td><input type="submit" value="Wijzigen"></td>
        </tr>

    }

</table>

=======
    <form name="productToevoegen" method="post" action="/Store/ProductGewijzigd">
        <table>
            <thead class="h4">
            <th>ID</th>
            <th>Prijs</th>
            <th>Naam</th>
            <th>Merk</th>
            <th>Detail</th>
            <th>Verwijder</th>
            </thead>

            @{
                foreach (Product prod in Model)
                {
                    <tr>
                        <td>@prod.productID</td>
                        <td><input type="text" name="firstname" size="2" value="@prod.productPrijs"></td>
                        <td><input type="text" name="firstname" size="10" value="@prod.productNaam"></td>
                        <td><input type="text" name="firstname" size="5" value="@prod.productMerk"></td>
                        <td><input type="text" name="firstname" size="12" value="@prod.productDetail"></td>
                        <td>
                            <select name="verwijder">
                                <option value="Nee">Nee</option>
                                <option value="Ja">Ja</option>
                                </select>
</td>
                    </tr>


                }
                
                <tr>
                    <td><input type="submit" value="Wijzigen"></td>
                </tr>

            }

        </table>
    </form>
>>>>>>> origin/master

