@using Webshop2.Models
@model List<Product>

@{
    ViewBag.Title = "Product Detail";
}

<h1>@ViewBag.H1</h1>

@{foreach(Product prod in Model)
  {
        <p>
            <img src="~/images/PlaceHolderImages/Small Pics/carracer.png" alt="Artikel met ID 1" height="500" width="500"><br/>
            <B> Naam: </B>@prod.productNaam <br />
            <B> Prijs: </B>€@prod.productPrijs <br />
            <B> Merk: </B>@prod.productMerk <br/>
            <B> Omschrijving: </B>@prod.productDetail <br />
            <b> geslacht: </b>@prod.productGeslacht <br />

            <form action="~/Cart/toegevoegd" method="get">
                <input type="hidden" name="productID" value="@prod.productID" />
                <select>
                    <option value="@prod.productKleur">@prod.productKleur</option>
                    
                </select>
                <select>
                    <option value="@prod.productMaat">@prod.productMaat</option>

                </select>
                <input type="number" name="aantal" value="1"/>
                <input type="submit" value="Toevoegen aan Winkelmandje" />
            </form>
        </p>
}
}
    

    


   