@using Webshop2.Models;
@model Product
@{
    ViewBag.Title = "ProductWijzigen";
}

<h1>@ViewBag.H1</h1>

<form name="productWijzigen" method="post" action="/Store/ProductGeWijzigd">
    <table>
        <tr>
            <td>
                Product id :
            </td>
            <td>
                <input type="text" name="ID" value="@ViewBag.productID" class="field left" readonly>
            </td>
        </tr>
        <tr>
            <td>
                <label>Product Naam : <br /><b>@ViewBag.productNaam</b> </label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.productNaam)
            </td>
            <td id="validationerror">
                @Html.ValidationMessageFor(model => model.productNaam)
            </td>
        </tr>
        <tr>
            <td>
                <label>Product merk : <br /> <b>@ViewBag.productMerk</b> </label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.productMerk)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.productMerk)
            </td>
        </tr>
        <td>
            <label>Product Prijs : <br /> <b>€@ViewBag.productPrijs</b> </label>
        </td>
        <td>
            @Html.TextBoxFor(model => model.productPrijs)
        </td>
        <td id="validationerror">
            @Html.ValidationMessageFor(model => model.productPrijs)
        </td>
        </tr>
        <tr>

            <td>
                <label>
                    Product Details : <br /><b>
                        @ViewBag.productDetail
                    </b>
                </label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.productDetail)
            </td>
            <td id="validationerror">
                @Html.ValidationMessageFor(model => model.productDetail)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a href="/Store/UitvoeringWijzigen?prodID=@ViewBag.productID">Wijzig Uitvoeringen</a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Wijzigen">
            </td>
        </tr>
    </table>
</form>