@using Webshop2.Models;
@model Product
@{
    ViewBag.Title = "ProductWijzigen";
}

<h1>@ViewBag.H1</h1>

<table>
    <tr>
        <td>
            <label>Product Naam :</label>
        </td>
        <td>
            <input type="text" name="firstname" size="30" value="@ViewBag.productNaam">
        </td>
        </tr>
    <tr>
        <td>
            <label>Product Merk :</label>
        </td>
        <td>
            <input type="text" name="firstname" size="30" value="@ViewBag.productMerk">
        </td>
    </tr>
    <tr>
        <td>
            <label>Product Prijs :</label>
        </td>
        <td>
            <input type="text" name="firstname" size="30" value="@ViewBag.productPrijs">
        </td>
    </tr>
    <tr>
        <td>
            <label>Product Detail :</label>
        </td>
        <td>
            <input type="text" name="firstname" size="30" value="@ViewBag.productDetail">
        </td>
    </tr>
</table>