@using Webshop2.Models;
@model Product
@{
    ViewBag.Title = "ProductWijzigen";
}

<h1>@ViewBag.H1</h1>

<form name="productWijzigen" method="post" action="/Store/ProductGeWijzigd">
    <table>
        <tr>
            <td>
                <label>Product Naam :</label>
            </td>
            <td>
                <input type="text" name="Naam" size="30" value="@ViewBag.productNaam">
            </td>
        </tr>
        <tr>
            <td>
                <label>Product Merk :</label>
            </td>
            <td>
                <input type="text" name="Merk" size="30" value="@ViewBag.productMerk">
            </td>
        </tr>
        <tr>
            <td>
                <label>Product Prijs :</label>
            </td>
            <td>
                <input type="text" name="Prijs" size="30" value="@ViewBag.productPrijs">
            </td>
        </tr>
        <tr>
            <td>
                <label>Product Detail :</label>
            </td>
            <td>
                <input type="text" name="Detail" size="30" value="@ViewBag.productDetail">
            </td>
        </tr>
        <tr>
        <td></td>
            <td>
                <input type="submit" value="Wijzigen">
            </td>
        </tr></table>
</form>